/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

input:invalid,
textarea:invalid {
  border: 2px solid 5e728c;
}

input:invalid:required,
textarea:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

button {
  border: none;
  background-color: inherit;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Lora', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2efe9;
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* App */
.App {
  min-height: 100vh;
  padding: 0 20px;
}

@media (min-width: 650px) {
  .App {
    width: 700px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  height: 100vh;
}

.home_title {
  margin-bottom: 120px;
}

.home_title h1 {
  font-size: 70px;
  font-weight: 400;
  text-shadow: 0 14px 12px #5e728c;
}

.home_title h3 {
  font-size: 28px;
  opacity: 0.7;
  text-align: center;
  margin-top: 20px;
}

/* .home button {
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 100px;
  opacity: 0.7;
  transition: color 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.home button:hover {
  color: #465259;
  transform: scale(1.2);
} */

.home button {
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 90px;
  opacity: 0.7;
  padding-bottom: 10px;

  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    hotpink 90%,
    hotpink 100%
  );

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;
}

.home button:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.home h5 {
  font-size: 16px;
  opacity: 0.5;
}

/* Button component */
.Button {
  width: 100px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.Button_success {
  font-weight: bold;
  background-color: #2ee59d;
}

.Button_cancel {
  font-weight: bold;
  background-color: #fd565f;
}

.Button_default:hover {
  background-color: #ececec;
  box-shadow: 0px 15px 20px rgba(128, 128, 128, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Button_success:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.Button_cancel:hover {
  background-color: #fd565f;
  box-shadow: 0px 15px 20px rgba(255, 102, 102, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.home_btn {
  width: 50px;
  height: 45px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 30px;
}

/* Header component */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
  font-family: 'Noto Sans KR', sans-serif;
}

.Header .Header_text {
  font-size: 24px;
  font-weight: bold;
}

/*ControlMenu */
.ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* MemoryList */
.MemoryList .menu_wrap {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.MemoryList .menu_wrap .right {
  flex-grow: 1;
}

.MemoryList .menu_wrap .right button {
  width: 100%;
}

/* MemoryItem */
.MemoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #ececec;
}

.MemoryItem:hover {
  transform: translateY(-7px);
}

.MemoryItem .MemoryItem_img_wrap img {
  width: 60%;
}

.Detail {
  flex-grow: 1;
  cursor: pointer;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
}

.Detail .Detail_date {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.Detail .Detail_title {
  font-size: 16px;
  margin-bottom: 10px;
}

.Detail .Detail_content_1 {
  font-size: 16px;
}

/* MemoryEditor */
.MemoryEditor_emotion {
}

.MemoryEditor section {
  padding: 15px 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.MemoryEditor input,
textarea {
  margin-top: 15px;
}

.input_date,
.input_title {
  border: none;
  border-radius: 10px;
  background-color: #e2e2e2;
  padding: 10px 12px;
}

.input_title {
  width: 50%;
}

.input_content1 {
  border: none;
  border-radius: 10px;
  background-color: #e2e2e2;
  width: 100%;
  min-height: 90px;
  resize: none;
}

.input_content2 {
  border: none;
  border-radius: 10px;
  background-color: #e2e2e2;
  width: 100%;
  padding: 10px 12px;
}

.MemoryEditor_emotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MemoryEditor_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/* EmotionItem */
.EmotionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.EmotionItem img {
  width: 50%;
  margin: 20px 0;
}

.EmotionItem span {
  margin-bottom: 20px;
}

.EmotionItem_emotionOn {
  border: 5px solid #61788c;
  border-radius: 10px;
}

/* Modify */
.Modify_header {
  font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 480px) {
  .Button {
    font-size: 14px;
  }

  .home_title h1 {
    font-size: 32px;
  }

  .home_title h3 {
    font-size: 18px;
  }

  .home button {
    font-size: 20px;
    margin-bottom: 100px;
  }

  .home h5 {
    font-size: 14px;
  }

  .Button {
    width: 50px;
    height: 38px;
  }

  .Header .Header_text {
    font-size: 20px;
  }

  .ControlMenu {
    padding: 10px 5px;
  }

  .MemoryItem_img_wrap {
    width: 90px;
  }

  .MemoryItem .MemoryItem_img_wrap img {
    width: 60%;
  }

  .Detail .Detail_date {
    font-weight: bold;
    font-size: 13px;
  }

  .Detail .Detail_title {
    font-size: 13px;
  }

  .Detail .Detail_content_1 {
    font-size: 13px;
  }

  .MemoryEditor section {
    padding: 8px 0;
  }

  .input_date,
  .input_title {
    padding: 5px 8px;
    font-size: 14px;
  }

  .input_content1 {
    min-height: 40px;
  }

  .input_content2 {
    padding: 5px 8px;
    font-size: 14px;
  }

  .MemoryEditor_footer {
    margin-top: 30px;
  }

  .EmotionItem img {
    margin: 12px 0;
  }

  .EmotionItem span {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
